<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <meta charset="UTF-8">
    <title>Add New Product</title>
    <style>
        .table {
            background-color: #E1FFFD;
        }
    </style>
</head>
<body>
<img src="https://imgbbb.com/images/2019/11/18/agregarlog.md.png" alt="banner" border="0" width=100% height=150>
<MARQUEE SCROLLDELAY = 100 BGCOLOR="#84C0CD" BEHAVIOR=ALTERNATE>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</MARQUEE>
<div style="background-image: url(https://imgbbb.com/images/2019/11/18/wallpaperproduct.md.png); height: 100%; width: 100%;">
    <br>
    <div style='margin-top:0;margin-left:150px;margin-right:150px;'>
<form method="post" th:object="${warehouse}" th:action="@{/saveProduct}">
    <button style="float: left;" type="submit" class="btn btn-success">Guardar Producto</button>
    <button style="float: right;" type="button" class="btn btn-danger" th:onclick="'window.location.href=\'/listProducts\''">Cancelar</button>
    <pre><br><br></pre>
    <table class="table table-bordered table-responsive-md">
        <tr>
            <th><label>Sku: </label></th>
            <th><input style="width:100%;" type="text" name="sku" th:value="*{sku}" placeholder="Sku" minlength="8" maxlength="8" required/></th>
        </tr>
        <tr>
            <th><label>Nombre: </label></th>
            <th><input style="width:100%;" type="text" name="nombre_producto" th:value="*{nombre_producto}" placeholder="Product Name" minlength="1" maxlength="50" required/></th>
        </tr>
        <tr>
            <th><label>Cantidad: </label></th>
            <th><input style="width:100%;" type="number" name="cantidad" th:value="*{cantidad}" required min="1"/></th>
        </tr>
        <tr>
            <th><label>Proveedor: </label></th>
            <th><select style="width:100%;" th:field="*{provider}">
                <option th:each="p : ${provider}" th:value="${p.pk_proveedor}"
                        th:text="${p.nombre_proveedor}">
                </option>
            </select></th>
        </tr>
    </table>
</form>
    </div><br><br><br></div>
</body>
</html>