<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Product</title>
</head>
<body>

<form method="post" th:object="${warehouse}" th:action="@{/saveProduct}">
    <input type="text" name="sku" th:value="*{sku}" placeholder="Sku" required/>
    <input type="text" name="nombre_producto" th:value="*{nombre_producto}" placeholder="Product Name" required/>
    <input type="number" name="cantidad" th:value="*{cantidad}" required min="1"/>
    <select th:field="*{proveedor}">
        <option th:each="p : ${proveedor}" th:value="${p.pk_proveedor}"
                th:text="${p.nombre_proveedor}">
        </option>
    </select>
    <button type="submit">Save product</button>
</form>

</body>
</html>