<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <meta charset="UTF-8">
    <title>Medicine</title>
    <style>
        .table {
            background-color: #f00;
        }
    </style>
</head>
<body>
<img src="https://imgbbb.com/images/2019/11/12/petslog.md.png" alt="banner" border="0" width=100% height=150>
<MARQUEE SCROLLDELAY = 100 BGCOLOR="#84C0CD" BEHAVIOR=ALTERNATE>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</MARQUEE>
<div style="background-image: url(https://imgbbb.com/images/2019/11/11/wallpaperpet.md.png); height: 100%; width: 100%;">
    <br>
    <table class="table table-bordered table-responsive-md">
        <thead>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Dosis</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Descripcion</th>
        </thead>
        <th:block th:each="medicine, row: ${medicineList}">
            <tr>
                <th scope="col" th:text="${medicine.id}"></th>
                <th th:text="${medicine.name}"></th>
                <th th:text="${medicine.dose}"></th>
                <th th:text="${medicine.quantity}"></th>
                <th th:text="${medicine.description}"></th>

            </tr>
        </th:block>
    </table>
    <script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</div>
</body>
</html>