<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
</head>
<body>
Hola Mascotas.

<table>
    <thead>
    <th>Id</th>
    <th>Nombre</th>
    <th>Duenio</th>
    <th>Razon</th>
    <th>Ver</th>
    </thead>
    <th:block th:each="pet, row: ${petList}">
        <tr>
            <th th:text="${pet.id}"></th>
            <th th:text="${pet.name}"></th>
            <th> Duenio </th>
            <th th:text="${pet.description}"></th>
            <th><button th:onclick="'window.location.href=\'/petDetails?id=' + ${pet.id} + '\''">Detalles</button></th>
        </tr>
    </th:block>
</table>
</body>
</html>
